footer {
  background: #22262f;
  width: 100vw;
  color: white;
}
.footerContainer {
  padding: 5em 10em;
}
.top {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 15em;
  object-fit: cover;
}
.cont2 > ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: #afafaf;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.link:hover {
  color: white;
  transition: 1s ease-in-out;
}
.newsletterContainer {
  margin: 0 0 2em 0;
}
.newsletterInput {
  display: flex;
  margin: 1.5em 0 0 0;
}
label {
  color: #ccc;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  margin: 0.8em 0;
}
