.teamsSection {
  width: 65vw;
  display: flex;
  flex-direction: column;
  gap: 4em;
  padding: 3em;
  align-items: center;
}
.teamLists {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.teamItem {
  text-align: center;
}
.teamItem > hr {
  color: #999;
}
.imgContainer {
  /* border: 2px solid lightgray; */
}
.imgContainer > img {
  width: 12em;
  height: 12em;
  object-fit: cover;
  border-radius: 50%;
}
.separator {
  height: 15em;
  color: #999;
}
.separator:last-child {
  display: none;
}
