.ourWorkSection {
  display: flex;
  flex-direction: column;
  padding: 1em 9em;
  gap: 4em;
}

.worksInnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
